* text=auto

*.cpp text eol=lf whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.hpp text eol=lf whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.h text eol=lf whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.c text eol=lf whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.fc text eol=lf whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.fif text eol=lf whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.rs text eol=lf whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.toml text eol=lf whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
Cargo.lock text eol=lf whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.tl text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.tlb text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.txt text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.sh text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent eol=lf
*.cmake text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.in text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.tex text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.py text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent

*.ans text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.bat text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent eol=crlf
*.fp text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.gradle text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.java text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.kt text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.md text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.php text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.pro text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.properties text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.ps1 text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent eol=crlf
*.xml text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent
*.yml text whitespace=blank-at-eol,space-before-tab,blank-at-eof,tab-in-indent

third_party/** linguist-vendored

*.a binary
*.jar binary
*.tlo binary

*.h merge=clang-format-driver
*.cpp merge=clang-format-driver
*.hpp merge=clang-format-driver
