[Unit]
Description=Stop C09 functional sampler at 2026-10-03 07:10 UTC

[Timer]
OnCalendar=2026-10-03 07:10:00 UTC
AccuracySec=1s
Persistent=false
Unit=nhm-c09-functional-stop.service

[Install]
WantedBy=timers.target
